USE [DB_APP_TEST]
GO
/****** Object:  StoredProcedure [dbo].[FILTER_PLC_STATUS]    Script Date: 6/10/2026 2:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[FILTER_PLC_STATUS]
AS
BEGIN
	SET NOCOUNT ON;
	--update data yg sdh ada, hanya ctr, limit, status, date
	UPDATE ps
	SET
		ps.counter = pd.counter,
		ps.limit = pd.[limit],
		ps.escalated = CASE 
			WHEN 
				CASE pd.status 
					WHEN 'STANDARD' THEN 1 
					WHEN 'WARNING' THEN 2 
					WHEN 'DANGER' THEN 3 
					ELSE 0 
				END 
				> 
				CASE ps.status 
					WHEN 'STANDARD' THEN 1 
					WHEN 'WARNING' THEN 2 
					WHEN 'DANGER' THEN 3 
					ELSE 0 
				END 
			THEN 1 
			ELSE 0 
		END,
		ps.status = pd.status,
		ps.plc_date = pd.plc_date,
		ps.updated_at = GETDATE()
	FROM plc_statuses ps
	INNER JOIN plc_data pd
		ON ps.plc_id = pd.plc_id
		AND ps.component_name = pd.component_name
	WHERE pd.status IN ('WARNING', 'DANGER');

	--insert data baru yg blm ada di plc_status
	INSERT INTO plc_statuses (plc_id, plant, line, line_name, component_name, counter, [limit], status, plc_date, spk_status, escalated, updated_by, created_at, updated_at)
	SELECT
		pd.plc_id, pd.plant, pd.line, pd.line_name, 
		pd.component_name, pd.counter, pd.[limit], pd.status, 
		pd.plc_date, NULL, 1, NULL, GETDATE(), GETDATE()
	FROM plc_data pd
	WHERE pd.status IN ('WARNING', 'DANGER')
	AND NOT EXISTS (
		SELECT 1 FROM plc_statuses ps
        WHERE ps.plc_id = pd.plc_id
        AND ps.component_name = pd.component_name
	);

	-- delete komponen yang sudah kembali STANDARD setelah spk_status = done, tanda bahwa teknisi sudah maintenance
    DELETE ps
    FROM plc_statuses ps
    INNER JOIN plc_data pd
        ON ps.plc_id = pd.plc_id
        AND ps.component_name = pd.component_name
    WHERE pd.status = 'STANDARD';
END;